{% assign limit = 5 %}
{% assign cta_url = '/publications/' | relative_url %}
{% assign cta_label = 'See all publications' %}

{% if include.section %}
  {% assign limit = include.section.limit | default: limit %}
  {% assign cta_url = include.section.cta_url | default: cta_url %}
  {% assign cta_label = include.section.cta_label | default: cta_label %}
{% endif %}

{% assign limit = include.limit | default: limit %}
{% assign cta_url = include.cta_url | default: cta_url %}
{% assign cta_label = include.cta_label | default: cta_label %}

{% assign publications = site.publications | sort: "date" | reverse %}
{% assign publications = publications | slice: 0, limit %}
{% assign last_year = "" %}

<ol class="stacked-publications__list">
  {% for pub in publications %}
    {% assign pub_year = pub.date | date: "%Y" %}
    {% assign show_year = true %}
    {% if pub_year == last_year %}
      {% assign show_year = false %}
    {% endif %}
    <li class="stacked-publications__item">
      <span class="stacked-publications__year{% unless show_year %} stacked-publications__year--blank{% endunless %}">
        {% if show_year %}
          {{ pub_year }}
        {% else %}
          &nbsp;
        {% endif %}
      </span>
      <div class="stacked-publications__details">
        <p class="stacked-publications__title">
          {% if pub.paperurl %}
            <a href="{{ pub.paperurl }}" target="_blank" rel="noopener">
              {{ pub.title }}
            </a>
          {% else %}
            {{ pub.title }}
          {% endif %}
        </p>
        {% if pub.venue %}
          <p class="stacked-publications__venue">{{ pub.venue }}{% if pub.volume %}, {{ pub.volume }}{% endif %}{% if pub.pages %}, {{ pub.pages }}{% endif %}</p>
        {% endif %}
        {% if pub.authors %}
          <p class="stacked-publications__authors">{{ pub.authors }}</p>
        {% endif %}
      </div>
    </li>
    {% assign last_year = pub_year %}
  {% endfor %}
</ol>

{% if cta_url %}
<div class="stacked-publications__cta">
  <a class="btn btn--light-outline" href="{{ cta_url }}">
    {{ cta_label }}
  </a>
</div>
{% endif %}
