{% assign publication = include.item %}
{% assign link_url = include.link_url | default: '' %}
{% assign default_label = 'Open ' | append: publication.title %}
{% assign link_label = include.link_label | default: default_label %}
{% assign previous_year = include.previous_year | default: '' %}
{% assign pub_year = publication.date | date: "%Y" %}
{% assign show_year = true %}
{% if previous_year == pub_year %}
  {% assign show_year = false %}
{% endif %}

<li class="stacked-publications__item">
  <span class="stacked-publications__year{% unless show_year %} stacked-publications__year--blank{% endunless %}">
    {% if show_year %}
      {{ pub_year }}
    {% else %}
      &nbsp;
    {% endif %}
  </span>
  <div class="stacked-publications__details">
    <p class="stacked-publications__title">
      <span class="stacked-publications__title-text">{{ publication.title }}</span>
      {% if link_url != '' %}
        <a class="stacked-publications__title-link"
           href="{{ link_url }}"
           {% if include.link_external %}target="_blank" rel="noopener"{% endif %}
           aria-label="{{ link_label }}">
          <i class="fas fa-link" aria-hidden="true"></i>
          <span class="visually-hidden">{{ link_label }}</span>
        </a>
      {% endif %}
    </p>
    {% if publication.venue %}
      <p class="stacked-publications__venue">
        {{ publication.venue }}{% if publication.volume %}, {{ publication.volume }}{% endif %}{% if publication.pages %}, {{ publication.pages }}{% endif %}
      </p>
    {% endif %}
    {% if publication.authors %}
      {% capture formatted_authors %}
        {% include components/author-list.html item=publication %}
      {% endcapture %}
      <p class="stacked-publications__authors">{{ formatted_authors | strip }}</p>
    {% endif %}
  </div>
</li>
