{% assign items = site.publications | sort: "date" | reverse %}
{% assign publication_categories = site.publication_category | default: '' %}

{% if publication_categories and publication_categories.size > 0 %}
  {% for category in publication_categories %}
    {% assign category_key = category.key | default: '' %}
    {% assign category_title = category.title | default: category_key %}
    {% assign category_items = items | where: "category", category_key %}

    {% if category_items and category_items.size > 0 %}
      <h2>{{ category_title }}</h2>
      <ol class="teaching-bullets">
        {% for item in category_items %}
        <li>
          {% if item.authors %}
            {% capture formatted_authors %}
              {% include components/author-list.html item=item %}
            {% endcapture %}
            {{ formatted_authors | strip }}  
          {% endif %}

          ({{ item.date | date: "%Y" }}). 
          <em>{{ item.title }}</em>. 
          {% if item.venue_article %}{{ item.venue_article | capitalize }} {% endif %}{% if item.venue %}{{ item.venue }}{% endif %}{% if item.volume and item.pages %}, {{ item.volume }}:{{ item.pages }}{% elsif item.volume %}, {{ item.volume }}{% elsif item.pages %}, {{ item.pages }}{% endif %}{% if item.place %}, {{ item.place }}{% endif %}. 

          {% if item.paperurl %}<a href="{{ item.paperurl }}">{{ item.paperurl }}</a>{% endif %}
        </li>
        {% endfor %}
      </ol>
    {% endif %}
  {% endfor %}
{% endif %}