{% assign items = site.publications | sort: "date" | reverse %}
{% assign suppress_links = include.suppress_links | default: false %}

<ol class="teaching-bullets">
{% for item in items %}
  <li>
    {% if item.authors %}
      {% capture formatted_authors %}
        {% include components/author-list.html item=item %}
      {% endcapture %}
      {{ formatted_authors | strip }}
    {% endif %}
    ({{ item.date | date: "%Y" }}).
    <em>{{ item.title }}</em>.
    {% assign item_venue = item.short | default: item.venue %}
    {% capture item_numbers %}{% include components/pub-volume.html item=item %}{% endcapture %}
    {% if item_venue %}{{ item_venue }}{% endif %}{% if item_numbers != '' %}, {{ item_numbers }}{% endif %}.
    {% if item.paperurl and suppress_links != true %}<a href="{{ item.paperurl }}">{{ item.paperurl }}</a>{% endif %}
  </li>
{% endfor %}
</ol>
