---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands",
    
    "hero",    // Import hero styles
    "custom";

/* Make the first heading sit flush with the card padding on all pages */
.archive > h1:first-child,
.archive > h2:first-child,
.page__content > h1:first-child,
.page__content > h2:first-child {
  margin-top: 0;
}

/* Optional, in case a paragraph is the first element on a page */
.page__content > p:first-child { 
  margin-top: 0; 
}